In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/cleaned_HGMAPS.csv')
df.head()

,Community,mean_HG_adultmen,mean_HG_adultfem,mean_HG_reprofem,mean_HG_ALLChild,mean_HG_youngChild,hhcode,pid,HAIR_HG,AGE,LAT,LON,Study,Sex,_merge,mean_LAT,mean_LON,log_HG,mean_HG_ALL,median_HG_ALL
0,AGUAS NEGRAS,NaN,2.94336,NaN,NaN,NaN,NaN,152B,3.1250,57,-12.57595,-69.25097,IOH,Female,NaN,-12.631253,-69.365356,1.139434,3.286586,2.93735
1,AGUAS NEGRAS,NaN,NaN,NaN,2.657875,NaN,NaN,189D,1.4652,14,-12.66256,-69.43082,IOH,Female,NaN,-12.631253,-69.365356,0.381992,3.286586,2.93735
2,AGUAS NEGRAS,4.13278,NaN,NaN,NaN,NaN,NaN,152A,3.6553,60,-12.57595,-69.25097,IOH,Male,NaN,-12.631253,-69.365356,1.296178,3.286586,2.93735
3,AGUAS NEGRAS,4.13278,NaN,NaN,NaN,NaN,NaN,186A,3.2883,71,-12.65843,-69.43379,IOH,Male,NaN,-12.631253,-69.365356,1.190371,3.286586,2.93735
4,AGUAS NEGRAS,NaN,NaN,2.990267,2.657875,NaN,NaN,189C,2.2550,16,-12.66256,-69.43082,IOH,Female,NaN,-12.631253,-69.365356,0.813150,3.286586,2.93735

In [3]:
df['Study'].unique()

array(['IOH', 'RioMDD', 'HUNT'], dtype=object)

In [5]:
for study in df['Study'].unique():
    df_study = df.loc[df['Study']==study].reset_index(drop=True)
    df_study.to_csv(f'../data/raw/{study}.csv',index=False)